<div class="about-page add-space">
    <div class="container">			
        <div class="row">
            <div class="col-md-6 abt">
                <div class="about-img">
                    <img src="./assets/images/about/about-01.png" class="img-fluid" alt="about">
                </div>
            </div>
            
            <div class="col-md-6 abt bg-white">
                <div class="about-content">
                    <div class="about-us">About Us</div>
                    <h1>A Better Way To-Market</h1>
                    <p>We are a global marketplace for unique and creative goods. It’s home to special, extraordinary items, from unique handcrafted pieces to vehicles.</p>
                    <p>It’s our mission to keep human connection at the heart of commerce. That’s why we built a place where creativity lives and thrives because it’s powered by people. We help our community of sellers turn their ideas into successful businesses. Our platform connects them with millions of buyers looking for an alternative to buy. </p>
                </div>
            </div>
            <div class="col-md-6 abt bg-white">
                <div class="about-content">
                    <h2>How To-Market Works</h2>
                    <p class="mb-5">Our global marketplace is a vibrant community of real people connecting over special goods. The platform empowers sellers to do what they love and helps buyers find what they love.</p>
                    
                    <h2>Sell extraordinarily</h2>
                    <p>With low fees, powerful tools, and support and education, we help creative entrepreneurs start, manage, and scale their businesses. Want to become an To-Market seller?</p>
                    
                    <h2>Buy extraordinary</h2>
                    <p>From the specific to the unexpected (or custom-made), our search tools help buyers explore all the special one-of-a-kind items offered by To-Market sellers.</p>
                </div>
            </div>
        </div>
    </div>						
</div>