  <main>
      <section id="hero">
        <h2>A better way</h2>
        <h1>To-Market!</h1>
        <div class="search">
          <input type="text" placeholder="search something">
          <button type="submit">Search</button>
        </div>
      </section>

      <section id="features" class="section-p1">
        <div class="f-box">
          <img src="./assets/images/features/free shipping.png" alt="free shipping" />
          <h6>Free shipping</h6>
        </div>
        
        <div class="f-box">
          <img src="./assets/images/features/save-money.webp" alt="save money" />
          <h6>save money</h6>
        </div>
        <div class="f-box">
          <img src="./assets/images/features/opening-promotion.jpg" alt="promotions" />
          <h6>promotions</h6>
        </div>
        <div class="f-box">
          <img src="./assets/images/features/round-service.webp" alt="24/7 support" />
          <h6>24/7 support</h6>
        </div>
      </section>

      <section class="product-section" class="section-p1">
        <h1>Featured Catagories</h1>
        <div class="pro-collection">
          <div class="product-cart">
            <img src="./assets/images/products/elect-cat.jpg" alt="product image" />
            <span>Electronics</span>
          </div>
          <div class="product-cart">
            <img src="./assets/images/products/sports-cat.jpg" alt="product image" />
            <span>Sports & Outdoors</span>
          </div>
          <div class="product-cart">
            <img src="./assets/images/products/toys-cat.webp" alt="product image" />
            <span>Toys & Games</span>
          </div>
          <div class="product-cart">
            <img src="./assets/images/products/home-cat1.jpg" alt="product image" />
            <span>Home & Garden</span>
          </div>
          <div class="product-cart">
            <img src="./assets/images/products/health-cat.jpg" alt="product image" />
            <span>Health & Beauty</span>
          </div>
          <div class="product-cart">
            <img src="./assets/images/products/baby-cats.webp" alt="product image" />
            <span>Baby & Kids</span>
          </div>
          <div class="product-cart">
            <img src="./assets/images/products/clothes-cat.webp" alt="product image" />
            <span>Clothes & Shoes</span>
          </div>
          <div class="product-cart">
            <img src="./assets/images/products/cars-cat.webp" alt="product image" />
            <span>Vehicles</span>
          </div>
        </div>
      </section>

      <section id="off-banner" class="section-m1">
      </section>

      <section class="product-section" class="section-p1">
        <h1>New Arrivals</h1>
        <div class="pro-collection">
          <div class="product-cart">
            <img src="./assets/images/products/washer.jpg" alt="product image" />
            <span>Home & Garden</span>
            <h4>Washer/dryer Set</h4>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4 class="price">$200</h4>
            <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
          </div>
          <div class="product-cart">
            <img src="./assets/images/products/chromebook.jpg" alt="product image" />
            <span>Electronics</span>
            <h4>Chromebook with 15.6” Touchscreen</h4>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4 class="price">$100</h4>
            <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
          </div>
          <div class="product-cart">
            <img src="./assets/images/products/nike cleats.jpg" alt="product image" />
            <span>Clothes & Shoes</span>
            <h4>Nike Size 12</h4>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4 class="price">$35</h4>
            <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
          </div>
          <div class="product-cart">
            <img src="./assets/images/products/car2.jpg" alt="product image" />
            <span>Vehicles</span>
            <h4>2018 INFINITI Q50
            </h4>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4 class="price">$21,999</h4>
            <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
          </div>
          <div class="product-cart">
            <img src="./assets/images/products/squat rack.jpg" alt="product image" />
            <span>Sports & Outdoors</span>
            <h4>Squat Rack</h4>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4 class="price">$78</h4>
            <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
          </div>
          
      </section>

      <section id="newsletter">
        <div class="newsletter-text">
          <h3>Sign Up For To-Market Newsletters</h3>
          <h5>get e-mail updates about out latest shop and <span>special offers</span></h5>
        </div>
        <div class="form">
          <input type="email" placeholder="Your email address">
          <button>Sign Up</button>
        </div>
      </section>

    </main>