<form id="login-form">
    <div class="container">
        <label for="username-login"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="username-login" required>

        <label for="password-login"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password-login" required>

        <button type="submit" id="btn-login">Login</button>
        <label>
            <a href="/signup">Sign Up instead?</a>
        </label>
    </div>
</form>
<script src="/js/login.js"></script>
