<form id="signup-form">
    <div class="container">
        <label for="username-signup"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="username-signup" required>

        <label for="password-signup"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password-signup" required>

        <button type="submit" id="btn-signup">Sign Up</button>
        <label>
            <a href="/login">Login instead?</a>
        </label>
    </div>
</form>
<script src="/js/signup.js"></script>